/* The Modal (background) */
.eolpersistenttab_block .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 30vh; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .eolpersistenttab_block .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
  }
  
  /* The Close Button */
  .eolpersistenttab_block .close {
    color: #0075b4;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -40px -30px;
  }
  
  .eolpersistenttab_block .close:hover,
  .eolpersistenttab_block .close:focus {
    color:#0075b45e;
    text-decoration: none;
    cursor: pointer;
  }

  .eolpersistenttab_block .animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
