@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

.eolpersistenttab_block {
  display: flex;
}

.eolpersistenttab_block .alert {
  position: relative;
  font-style: italic;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  margin-bottom: 1em;
}

.eolpersistenttab_block .alert-info {
  background-color: #d9edf7;
  border-color: #bcdff1;
  color: #31708f !important;
}

.eolpersistenttab_block .btn-fixed {
  position: fixed;
  right: 2em;
  top: 50vh;
}

.eolpersistenttab_block .persistent-btn {
    display: flex;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    color: white !important;
    background: #0075b4;
    opacity: 0.8;
    transition: 1s;
    box-shadow: 8px 8px 0 #0075b482;
    transform: skewX(-15deg);
}



.eolpersistenttab_block .persistent-btn:hover {
    transition: 0.5s;
    opacity: 1;
    box-shadow: 5px 5px 0 #0075b4cc;
}


.eolpersistenttab_block .persistent-btn span {
    transform: skewX(15deg);
    text-transform: uppercase;
  }


/* The Modal (background) */
.eolpersistenttab_block .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    left: 0;
    top: 0;
    padding-top: 30vh; /* Location of the box */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .eolpersistenttab_block .modal-content-persistent, 
  .eolpersistenttab_content {
    background-color: #fefefe;
    margin: auto;
    padding: 40px 40px 20px 40px;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
  }
  
  /* The Close Button */
  .eolpersistenttab_block .close {
    color: #0075b4;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin: -40px -30px;
  }
  
  .eolpersistenttab_block .close:hover,
  .eolpersistenttab_block .close:focus {
    color:#0075b45e;
    text-decoration: none;
    cursor: pointer;
  }

  .eolpersistenttab_block .animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}

  .eolpersistenttab_block .animated{
    -webkit-animation-duration:1s;
    animation-duration:1s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}

@-webkit-keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        transform:translateX(0)
    }
}
@keyframes fadeInRight{
    0%{
        opacity:0;
        -webkit-transform:translateX(200px);
        -ms-transform:translateX(200px);
        transform:translateX(200px)
    }
    100%{
        opacity:1;
        -webkit-transform:translateX(0);
        -ms-transform:translateX(0);
        transform:translateX(0)
    }
}
.fadeInRight{
    -webkit-animation-name:fadeInRight;
    animation-name:fadeInRight
}

/* RedFid */

.eolpersistenttab_block.RedFid .btn-fixed {
  position: fixed;
  right: 2em;
  top: 50vh;
}

.eolpersistenttab_block.RedFid .persistent-btn {
    display: flex;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1.3em;
    color: white !important;
    background: #AD65DB;
    opacity: 0.8;
    transition: 1s;
    box-shadow: 8px 8px 0 #ae65db75;
    transform: skewX(-15deg);
}



.eolpersistenttab_block.RedFid .persistent-btn:hover {
    transition: 0.5s;
    opacity: 1;
    box-shadow: 5px 5px 0 #ae65dbab;
}


.eolpersistenttab_block.RedFid .persistent-btn span {
    transform: skewX(15deg);
    text-transform: capitalize;
  }